<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center h-100">
        <a href="/films"><button type="button" class="btn btn-outline-primary">Watched Films</button></a>
        <a href="/music"><button type="button" class="btn btn-outline-danger">Album Collection</button></a>
    </div>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>